.site-header
  header
    //-  <a href="#">Island Cleaning Service</a> 
    a.scroll-to(href="#")
      include ../svg/compass-logo.v2.min.svg
      span Island Cleaning Service
  nav
    ul.site-nav
      li.nav-item
        a.scroll-to(href="#about") About
      li.nav-item
        a.scroll-to(href="#services") Services
      li.nav-item
        a.scroll-to(href="#contact") Contact