<section id="about" class="section">
    <div class="container">
        <div class="about-story">
            <p class="story-header">About</p>
            <h3 class="story-tagline">Your Island Cleaning Service</h3>
            <p class="story fade-in"><span class="story-lead">Started in 1972, Island Cleaning Service has been reliably
                serving Nantucket - season after season.</span> Trusted for almost five decades with Nantucket's
                commercial and residential properties and we always strive to deliver. Staying family-owned has allowed
                us to maintain a degree of quality control that is hard to keep in larger enterprises. As Island
                residents, we are readily available year-round and flexible enough to work with your schedule. We have
                decades of experience and we want to put that experience to work for you.</p>
        </div>
        <img src="img/about-vintage-scene_400x300.jpg" class="vintage-photo"
            alt="Nantucket Coastal Scene - apart of the Island Cleaning Service story">

        <img src="img/the-electric_320x415.jpg" class="vintage-photo"
            alt="Island Cleaning Services Electric - environment-friendly work vehicle">
        <img src="img/sextant_145x154.png" class="sextant-clipped slide-in from-left"
            alt="Nautical Sextant - local imagery from Nantucket">
    </div>
</section>
