<div class="covid-info">
    <span class="covid-close">×</span>
    <p class="lead">Due to the current pandemic, we are taking the following precautions for the protection of our
        customers, crew and family members.</p>
    <a href="#" class="covid-button"><span class="chevron"></span>More Details</a>
    <p>Please advise if you or any member of your household are exhibiting symptoms or have been in the last two weeks.
        If you are yet to arrive at your Nantucket summer residence, we would prefer to handle any interior cleaning
        needs a minimum of ONE WEEK prior to your arrival. Our technicians are all trained on dealing with emerging
        pathogens and have access to PPE and hospital-grade disinfectants, and are trained to use such according to
        IICRC guidelines. All workers report their temperature daily. New personal protective gear (gloves and shoe covers) will be
        worn on your property and will be properly disposed of and or sanitized. Masks will be on hand for properties
        with home owners present.
    </p>
</div>