<ul class="insert-list">
    <li>Window Cleaning Service</li>
    <li>Carpet Cleaning Service</li>
    <li>Deck Cleaning Service</li>
    <li>Trim Cleaning Service</li>
    <li>Dryer Vent Cleaning Service</li>
    <li>Roof Cleaning Service</li>
    <li>Gutter Cleaning Service</li>
    <li>Teak Cleaning Service</li>
</ul>
<section id="hero" class="section hero">
    <div class="hero-images">
        <img src="img/the-beach_400x400.jpg" alt="Hero Image - the Beach">
        <include src='svg/window-style_01.svg'></include>
    </div>
    <div class="container" style="z-index: 6">
        <p class="lead">Island Cleaning Service</p>
        <h1 class="hero-header"><span>We are a</span> <span>Nantucket</span> Island <ins>Window</ins> Cleaning Service</h1>
        <h2 class="hero-subhead"><span>Providing cleaning services to Nantucket residents, property owners and caretakers</span> since 1972</h2>
    </div>
</section>