section#about.section
  .container
    .about-story
      p.story-header About
      h3.story-tagline Your Island Cleaning Service
      p.story.fade-in
        span.story-lead Started in 1972, Island Cleaning Service has been reliably serving Nantucket - season after season.
        |  Trusted for almost five decades with Nantucket's commercial and residential properties and we always strive to deliver. Staying family-owned has allowed us to maintain a degree of quality control that is hard to keep in larger enterprises. As Island residents, we are readily available year-round and flexible enough to work with your schedule. We have decades of experience and we want to put that experience to work for you.
    img.vintage-photo(src="img/about-vintage-scene_400x300.jpg", alt="Nantucket Coastal Scene - apart of the Island Cleaning Service story")
    img.vintage-photo(src="img/the-electric_320x415.jpg", alt="Island Cleaning Services Electric - environment-friendly work vehicle")
    img.sextant-clipped.slide-in.from-left(src="img/sextant_145x154.png", alt="Nautical Sextant - local imagery from Nantucket")