section#services.section.services
  .container
    h3.h3 Cleaning Services
      //- .card.trigger(data-service="disinfectants")
      //-   img(src="img/disinfectants_400x300.jpg", alt="ULV Fogging of Residence")
      //-     .card-content
      //-       span.card-badge In-Demand Service
      //-       p.service Disinfectants and Deodorizing
      //-       p.service-desc Well over a decade of experience in the application of EPA-registered disinfectants in Nantucket residences and offices
      //-       p.long-desc Island Cleaning Service is experienced and equipped for use of medical grade anti-microbial and virucidal agents in commercial, medical and residential settings. We offer:
      //-       ul.service-list
      //-         li ULV Fogging
      //-         li Carpet and upholstery cleaning with disinfectant application
      //-         li Fomite / touch point cleaning
      //-         li Hard surface cleaning
      //-       p.service-cert Trained in and conforming to RIA and IICRC cleaning standards
    .card.trigger(data-service="window-cleaning", data-folder="windows")
      img(src="img/windows/window-cleaning_400x300.jpg", alt="Window Washing in Action")
      .card-content
        p.service Window Washing
        p.service-desc 40+ Years in the Business
        p.long-desc As Nantucket's longest-running window cleaners, we are proud to be serving Nantucket's commercial and residential properties year after year, decade after decade. Trusted for nearly four decades and fully insured.
    .card.trigger(data-service="carpet-cleaning", data-folder="carpets")
      img(src="img/carpets/carpet-cleaning_400x300.jpg", alt="Carpet Cleaning one of Nantuckets Local Businesses")
      .card-content
        p.service Carpet Cleaning
        p.service-desc Experienced Technicians at the Ready
        p.long-desc Cleaning Nantucket's carpets and upholstery for well over twenty years, we are one of the Island's longest running carpet and upholstery cleaning companies. We are Nantucket residents and easily reachable seven days a week for any of your fabric emergencies. Additional services include rug washing and yachts.
    .card.trigger(data-service="power-washing", data-folder="power")
      img(src="img/power/power-washing_285x214.jpg", alt="The results of Power Washing on a Deck")
      .card-content
        p.service Power Washing
        p.service-desc Restored Wood & Stone Surfaces
        p.long-desc.
          Is it time to refresh your patio? Have those teak chairs seen better days? Got a mossy jungle on your cedar roof? Certified and trained by years of experience, we will treat your home with the care it deserves. We can also repair damage caused by other power washing freelancers. We are fully insured and your satisfaction is guaranteed.
          
    .card.trigger(data-service="trim-washing", data-folder="trim")
      img(src="img/trim/trim-washing_285x214.jpg", alt="White Trim Trim Washed")
      .card-content
        p.service Trim Washing
        p.service-desc Remove Mildew Growth
        p.long-desc Gently remediating winter mildew growth to keep your exterior trim looking like new.
    .card.trigger(data-service="dryer-vent-cleaning", data-folder="vents")
      img(src="img/vents/dryer-vent-cleaning_213x160.jpg", alt="Dryer Vent in need of Cleaning")
      .card-content
        p.service Dryer Vent Cleaning
        p.service-desc Preventing a Fire Hazard
        p.long-desc Outside of your range/oven, your dryer is the most likely appliance to cause a fire. (Dryers cause over 15,000 fires a year.) Your dryer's lint screen, even when used properly, only traps a percentage of dryer lint. The rest passes through your dryer vent system and accumulates on the walls of the ducts or the inside of the dryer itself. This accumulation also reduces the effectiveness of your dryer. Lower your bills and reduce your risk of fire. Have us come and clean your dryer duct today!
    .card.trigger(data-service="gutter-cleaning", data-folder="gutters")
      img(src="img/gutters/gutter-cleaning_213x160.jpg", alt="Gutter Cleaned of Debris")
      .card-content
        p.service Gutter Cleaning
        p.service-desc Clear Debris, Shells and more
        p.long-desc Clogged gutters and downspouts lead to rot and worse. One lone seagull dropping a shell on your roof leads to
    .card.trigger(data-service="roof-cleaning", data-folder="roofs")
      img(src="img/roofs/roof-cleaning_213x160.jpg", alt="Roof in Need of Cleaning")
      .card-content
        p.service Roof Cleaning
        p.service-desc Cedar and Asphalt
        p.long-desc.
          Are bacteria, lichen and moss trying to start a garden on your cedar or asphalt roof? Your roof can be gently and effectively cleaned. In order to preserve the integrity of your roofing shingles, Island Cleaning Service uses a safe effective procedure recommended by your shingle manufacturer to remove the streaks, lichen, and moss that are feasting on your house. No power washer will be used in the treatment of your roof.
          
    .card.trigger(data-service="teak-cleaning", data-folder="teak")
      img(src="img/teak/teak-cleaning_213x160.jpg", alt="Before and After Teak Furniture Cleaning")
      .card-content
        p.service Teak Cleaning
        p.service-desc Bring Teak Furniture Back to Life
        p.long-desc.
          Afraid that sitting on your teak will dirty your clothes? Don’t throw it away. Restore it! Island Cleaning Service can bring back the pride of ownership to your outdoor furniture with our three-step refinishing process.
          
    .modal
      span.close-btn ×
      .modal-content
        //-
        //- .modal-footer
        //-   button.button.button-primary.quote Get Your Quote
        //-   a.button(href="#") Call Us
      .modal-footer
        button.button.button-primary.quote Get Your Quote
        a.button(href="tel:5082281153") Call Us
  .modal
    .modal-header
      p.lead Island Cleaning Services
    span.close-btn ×
    .modal-content(data-service)
    .modal-footer
      button.button.button-primary.quote Get Your Quote
      a.button(href="tel:5082281153") Call Us