ul.insert-list
  li Window Cleaning Service
  li Carpet Cleaning Service
  li Deck Cleaning Service
  li Trim Cleaning Service
  li Dryer Vent Cleaning Service
  li Roof Cleaning Service
  li Gutter Cleaning Service
  li Teak Cleaning Service
section#hero.section.hero
  .hero-images
    img(src="img/the-beach_400x400.jpg", alt="Hero Image - the Beach")
    include ../svg/window-style_01.svg
  .container(style="z-index: 6")
    p.lead Island Cleaning Service
    h1.hero-header
      span We are a
      |  
      span Nantucket
      |  Island 
      ins Window
      |  Cleaning Service
    h2.hero-subhead
      span Providing cleaning services to Nantucket residents, property owners and caretakers
      |  since 1972