@media (min-width: 641px) {
    .has-animations [class*=reveal-] {
        opacity:0;
        will-change: opacity, transform
    }

    .has-animations .reveal-from-top {
        transform: translateY(-20px)
    }

    .has-animations .reveal-from-bottom {
        transform: translateY(20px)
    }

    .has-animations .reveal-from-left {
        transform: translateX(-20px)
    }

    .has-animations .reveal-from-right {
        transform: translateX(20px)
    }

    .has-animations .reveal-scale-up {
        transform: scale(.95)
    }

    .has-animations .reveal-scale-down {
        transform: scale(1.05)
    }

    .has-animations .reveal-rotate-from-left {
        transform: perspective(1000px) rotateY(-45deg)
    }

    .has-animations .reveal-rotate-from-right {
        transform: perspective(1000px) rotateY(45deg)
    }

    .has-animations.is-loaded [class*=reveal-] {
        transition: opacity .6s ease,transform .6s ease
    }

    .has-animations.is-loaded [class*=reveal-].is-revealed {
        opacity: 1;
        transform: translate(0)
    }
}