<meta name="description" content="Providing quality cleaning services to Nantucket residents, property owners and caretakers since 1972. Including window washing, carpet cleaning, power washing and more.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Island Cleaning Service of Nantucket | Serving the Island since 1972">
<meta itemprop="description" content="Providing quality cleaning services to Nantucket residents, property owners and caretakers since 1972. Including window washing, carpet cleaning, power washing and more.">
<meta itemprop="image" content="">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://islandcleaningservice.net">
<meta property="og:type" content="website">
<meta property="og:title" content="Island Cleaning Service of Nantucket | Serving the Island since 1972">
<meta property="og:description" content="Providing quality cleaning services to Nantucket residents, property owners and caretakers since 1972. Including window washing, carpet cleaning, power washing and more.">
<meta property="og:image" content="">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Island Cleaning Service of Nantucket | Serving the Island since 1972">
<meta name="twitter:description" content="Providing quality cleaning services to Nantucket residents, property owners and caretakers since 1972. Including window washing, carpet cleaning, power washing and more.">
<meta name="twitter:image" content="">