<div class="site-header">
    <header>
        <!-- <a href="#">Island Cleaning Service</a> -->
        <a href="#" class="scroll-to"><include src='svg/compass-logo.v2.min.svg'></include><span>Island Cleaning Service</span></a>
    </header>
    <nav>
        <ul class="site-nav">
            <li class="nav-item"><a href="#about" class="scroll-to">About</a></li>
            <li class="nav-item"><a href="#services" class="scroll-to">Services</a></li>
            <li class="nav-item"><a href="#contact" class="scroll-to">Contact</a></li>
        </ul>
    </nav>
</div>

