<section class="section details">
    <div class="container">
        <div class="about-story">
            <p class="story">Island Cleaning Service is experienced and equipped for use of medical grade anti-microbial
                and virucidal agents in commercial, medical and residential settings. We offer:</p>
            <ul class="service-list">
                <li>ULV Fogging</li>
                <li>Carpet and upholstery cleaning with disinfectant application</li>
                <li>Fomite / touch point cleaning</li>
                <li>Hard surface cleaning</li>
            </ul>
            <p class="service-cert">Trained in and conforming to RIA and IICRC cleaning standards</p>
        </div>
        <img src="img/disinfectants_476x357.jpg" alt="ULV Fogging in Nantucket residence">
    </div>
</section>
